* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
body {
  background-repeat: no-repeat;
  background-size: 200%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:  url(img/cat.cur) 4 12, auto;

}



.game {
  width: 100vw;
  background: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
}

.play{
  font-size: 46px;
  background: green;
  border: none;
  color: white;
  width: 300px;
  height: 70px;
  border-radius: 4px;
  box-shadow: inset 0 -7px 3px 0 darkgreen;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.window {
  border: 1px solid white;
  background: skyblue;
  width: 10%;
  height: 100px;
}

.cat {
  width: 100%;
}

.time, .elements {
  pos/*ition: absolute;
  right: 0;
  top: -50px;*/
  background: white;
  font-size: 26px;
  border-radius: 100px;
  padding: 5px 40px;
  height: 40px;
}
.time__img {
  width: 20px;
}
.window:hover {
  background: lime;
}
.time:hover {
  transform: scale(1.1)
}
.catPoint {
  width: 30px;
}

.heart{
  width: 30px;
  height: 30px;
}
.hearts {
   /*position: absolute;
  right: 600px;
  top: -50px;*/
  border-radius: 100px;
  background: white;
  padding: 5px 20px;
  height: 40px;
}


.elements {
   /* position: absolute;
  right: 200px;
  top: -50px;*/
}

.you-win, .over {
  position: absolute;
  top: 20px;
  width: 200px;
  height: 80px;
  background:#fd8c8c;
  padding: 20px;
  left: -300px;
  transition: 1s;
  z-index: 1000;
}

.you-win {
 background: #8aed63; 
}
.kitchen {
}
.select {
 margin-top: -50px;
}


button{
    background: yellowgreen;
    color: darkblue;
    border-radius: 7px;
    padding: 5px 20px;
    border: none;
    box-shadow: 0 0 7px 0;
    cursor: pointer;
}
button:hover {
  background: transparent;
  border: 1px solid yellowgreen;
}


.cat, .cat-error{
  width: 80px;

}


button{

}


.players {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.body-players {
  background: white;
  width: 700px;
  height: 250px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  gap: 20px;
  overflow: scroll;
}


.players img {
  width: 150px;
  height: 150px;
}

.cats{
  padding-top: 6px;
}

.button{
  height: 70px;
  background: skyblue;
  top: 480px;
  left: 80%;
  position: absolute;
  transition: 0.3s;
  box-shadow: 0 0 7px 0 #0004;
  width: 100px;
}
.button:hover{
background: violet;
}




.gallery {
  display: flex;
  display: none;
  background-size: 350px;
  overflow: hidden;
  display: flex;
  background: rgba(255, 255, 255, 60%);
  padding: 80px;
  box-sizing: border-box;
  width: 400px;

}

.gallery img {
  width: 100px;
  margin: auto;
}

.btns{
    /* top: 145px;
    left: 684px;
    position: absolute;

*/

}
.bottom {
  position: absolute;
  top: 480px;
  left: 40px;
}


.panel{
  left: 200px;
  top: 30px;
  position: absolute;
  width: 80vw;
  display: flex;
  align-items: center;
  gap: 20px;

}


.swiper-slide {
    display: flex;
    align-items: center;
}



@media screen and (max-width: 1450px) {





}




.a1 {
  background: rgba(0, 0, 0, 50%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.kitchen, .select {
  z-index: 100000;
}
